.header h1 {
  position: absolute;
  top: 5%;
  left:35%;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #8e4ac7;
  font-size: 2.7rem;
  width: 500px;
}

.MainContainer h2 {
  position: absolute;
  top: 3%;
  left:10%;
  font-family: 'Poppins', sans-serif;
  color: #8e4ac7;
  font-size: 40px;
}

.MainContainer {
    background-color: #EBF5EA;
    position: absolute;
    height: 90%;
    width: 80%;
    top: 10%;
    left: 5%;
    right:5%;
    bottom: 20px;
    overflow: overlay;
    padding: 50px;

}

.MainContainer .LibarayList {
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
  color: #8e4ac7;
  font-size: 25px;
  display:inline-block;

}



.container {
    flex: 1;
    background-color: '#ecf0f1';
    padding: 8;
  }